.ImagesList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 50px;
    padding-bottom: 25px;
}


/* .ImagesList {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-rows: 300px;
    gap: 1em;
    margin: 0 50px;
} */
