.ImagesList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 50px;
    padding: 25px 0;
}

/*
.ImagesList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px 10px;
    margin: 50px;
}
*/