body {
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin: 100px;
    flex-wrap: wrap;
    align-items: center;
}

.landing {
    margin: 610px;
    text-align: center;
    padding: auto;
}

.image-container img {
    min-width: 1000px;
}