.Main {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #0b0d0c;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.searchArea {
    padding-top: 3vh;
    position: sticky;
    top: 0;
    z-index: 1;
}

.homeIcon {
    position: absolute;
    max-width: 2.5em;
    min-height: 2em;
    padding: 1em;
    left: 0;
    top: 0;
    z-index: 2
}
