.SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.search {
    display: flex;
    align-items: center;
    gap: 1em;
}



.options ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.options li {
    cursor: pointer;
    width: 4.33rem;
    border-bottom: 1px solid #fff;
    padding: 0 0.5rem .33rem 0.5rem;
    line-height: 1.13;
    text-align: center;
    font-weight: 600;
    font-size: .83rem;
    transition: color .25s;
    margin: 0 1rem;
}

.options li:hover {
    color: #d4cfcf;
}

.options li.active {
    color: #EF539D;
}

.searchInput {
    width: 20vw;
    padding: 0.5em;
    font-size: 0.77rem;
    font-family: "Rubik", sans-serif;
    border-radius: 30px;
    border: 1px solid black;
    background-color: rgba(214, 24, 176, 0.5);
    color: white;
    outline: 0;
}

.searchButton {
    border-radius: 50%;
    background-color: #EF539D;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.5s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.searchButton:hover {
    cursor: pointer;
    background-color: #d892b3;
}

.cards {
    width: 3em;
    filter: invert(100%);
}

.cards:hover {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    cursor: pointer;
    border: 1px solid black;
}